[hub]
        protocol = https
	host = ghosthub.corp.blizzard.net
[user]
        name = Ryan C. Creasey
        email = rcreasey@blizzard.com
	signkey = D9D819BCDA5FC6CBFAECE29E6C665890A875B80D
[credential]
        helper = osxkeychain
[alias]
        co = checkout
        promote = !$ZSH/bin/git-promote
        wtf     = !$ZSH/bin/git-wtf
        rank-contributors = !$ZSH/bin/git-rank-contributors
        count   = !git shortlog -sn
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        editor = code --wait
        excludesfile = ~/.gitignore
        whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = git-split-diffs --color | less -RFX
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[help]
        autocorrect = 1
[push]
        default = tracking
[commit]
	gpgsign = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
